<div class="wrap">
    <div class="top-menu">
        <nav class="ink-navigation ink-grid">
            <ul class="menu horizontal black">
                <li class="heading">
                    {{#link-to 'index'}}
                        Source<span class="sub-logo">.Watch</span>
                    {{/link-to}}
                </li>
                {{#link-to "activity" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>All activity</a>
                {{/link-to}}
                {{#link-to "following.users" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>People</a>
                {{/link-to}}
                {{#link-to "following.repos" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>Projects</a>
                {{/link-to}}
                {{#link-to "you" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>You</a>
                {{/link-to}}
            </ul>
        </nav>
    </div>
    {{outlet}}
</div>

<footer class="clearfix">
    <div class="ink-grid">
        <ul class="unstyled inline half-vertical-space">
            <li class="active"><a href="#">About</a></li>
        </ul>
        <p class="note"></p>
    </div>
</footer>
