<div class="wrap">
    <div id="topbar" class="top-bar">
        <nav class="ink-navigation ink-grid">
            <ul class="menu horizontal black push-left medium-push-center small-push-center">
                <li class="heading">
                    {{#link-to 'index'}}
                        Source<span class="sub-logo">.Watch</span>
                    {{/link-to}}
                </li>
                {{#link-to "activity" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>All activity</a>
                {{/link-to}}
                {{#link-to "following.users" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>People</a>
                {{/link-to}}
                {{#link-to "following.repos" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>Projects</a>
                {{/link-to}}
                {{#link-to "you" tagName='li'}}
                    <a {{bind-attr href="view.href"}}>You</a>
                {{/link-to}}
            </ul>
            {{#if session.isAuthenticated}}
            <ul class="menu horizontal black push-right hide-small hide-tiny hide-medium">
                <li>
                    <a role="button" href="javascript:;">
                        <img {{bind-attr src="session.currentUser.avatar_url"}} height="28" width="28" alt=""/>
                        <span>{{session.currentUser.login}}</span>
                        <i class="ion-chevron-down small" role="presentation" aria-hidden="true"></i>
                        <span class="sr-only">user actions</span>
                    </a>
                    <ul class="submenu">
                        <li>{{#link-to "logout" class="ion-log-out"}}Log out{{/link-to}}</li>
                    </ul>
                </li>
            </ul>
            {{/if}}
        </nav>
    </div>
    {{outlet}}
</div>

<footer class="clearfix">
    <div class="ink-grid">
        <ul class="unstyled inline half-vertical-space">
            <li class="active"><a href="#">About</a></li>
        </ul>
        <p class="note"></p>
    </div>
</footer>
