<span class="user">
  <a {{bind-attr href="userUrl"}}>
  <a {{bind-attr href="userUrl"}} class="no-underline">
    <img class="user-avatar" {{bind-attr src="avatarUrl"}} height="48" width="48" />
  </a>

  <a {{bind-attr href="userUrl"}}>
    {{login}}
  </a>
</span>
